div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: wrap;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

div h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.movie-description {
  width: 50%;
}

img {
  border-radius: 10px;
  max-height: 40vh;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-movie {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 3rem;
  border-style: thin;
  background-color: #0071ff;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

@media (max-width: 500px) {
  .next-movie {
    display: none;
  }

}

.watch-providers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.watch-providers img{
  margin-left: 20px;
}

