div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: wrap;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

div h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.movie-description {
  width: 50%;
}

img {
  border-radius: 10px;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-movie {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 2rem;
  border-style: thin;
  background-color: #0071ff;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}